html
	h1 Rule #{data._id}
	
	h3 Description
	p #{data.description}
	
	h3 Conclude that: 
	p #{data.conclude.kItem} is #{data.conclude.kValue}
	
	each clause in data.when
		b #{clause.kLogic}
		if (clause.kLink.type=='UNDEFINED') 
			b
			i  #{clause.kItem} #{clause.kOperator} #{clause.kValue}  
			button(onClick="location.href='newBasedOnWhenItem/#{clause.kItem}/#{clause.kOperator}/#{clause.kValue}'") *
		if (clause.kLink.type=='exact')
			a(href='#{clause.kLink.link}')  #{clause.kItem}
			|  #{clause.kOperator} #{clause.kValue} 
		if (clause.kLink.type=='partial')
			i  #{clause.kItem} #{clause.kOperator} #{clause.kValue}
			button(onClick="location.href='newBasedOnWhenItem/#{clause.kItem}/#{clause.kOperator}/#{clause.kValue}'") *
			a(href='#{clause.kLink.link}')  see also
		br
	br
	button(onClick="location.href='analyse/#{data._id}'") Attributes needed
	button(onClick="location.href='../couch/rules/#{data._id}'") Edit
	