html
	h1 #{data.json.data.name}
	- var properties = data.json.data
	- delete data.json.data
	table
		each n, index in properties
			tr
				td
					b= index   
				td= n
				td=	(typeof n)
	hr

	each n, index in data.json.outLinkDetails
		p
			b= index 
			|:
		table
			each d,i in n
				tr
					td
						- var ref="http://localhost:3000/neo4j/nodes/label/"+d.endType
						a(href= ref) #{d.endType} 
					td
						a(href=d.endNavigator) #{d.endName}
	each n, index in data.json.inLinkDetails
		p
			b Inverse of 
			b= index 
			|:   
		table
			each d,i in n
				tr
					td
						- var ref="http://localhost:3000/neo4j/nodes/label/"+d.endType
						a(href= ref) #{d.endType} 
					td
						a(href=d.endNavigator) #{d.endName}
