html
	head
		script(src="/javascripts/jQuery-copy/jquery-1.9.0-min.js")
		script(src='/javascripts/JSON2/json2.js')
		script(src='/javascripts/JSEditor/json2tree.js')
		script(src='/javascripts/JSEditor/jsEditorFeatures.js')
		//if lt IE 9
		script(src="/javascripts/html5Shiv/html5shiv.js")
		//endif
	body
		h1 Test Editor #{data.header}
		table(class="jsForm")
		br
		br
		button(onClick='saveForm("#{data.docbase}")') Save
		button(onClick='saveFormAs("#{data.docbase}")') Save As :_id
		button(onClick='resetForm()') Cancel
		button(onClick='deleteForm()') Delete
		//button(onClick='jsWalkerTest()') Test Walker
		br
		div(class="message")
		script
			$(document).ready(function () {
				js=!{data.json}
				f=!{data.persist}
				f(js)
				//  Features need a good understanding of the underlying data model - that is why they are explicitly added 
				features=[
					{
					on:"root",  //only allowing for one global template 
						feature:{type:'globalTemplate',
							parameters:{on:"outline",template:{text:"",_note:"",outline:[]}
						}}
					},
					{
					on:"root.stub",
						feature:{type:'newFromTemplate',parameters:{template:{
							text:"",_note:"",outline:[]
						}}}
					},
					{
					on:"root.conclude.kOperator",  // try root.when.*.kOperator
						feature:{type:'select',parameters:{selection:['is','is not','==','!=','>','>=','<','<=']}}
					},
					{
					on:"root.when.*.kOperator",  // try root.when.*.kOperator
						feature:{type:'select',parameters:{selection:['is','is not','==','!=','>','>=','<','<=']}}
					},
					{
					on:"root.when.*.kLogic",  // try root.when.*.kLogic
						feature:{type:'select',parameters:{selection:['AND','OR']}}
					},
					{
					on:"root.when.0.kLogic",  // try root.when.*.kLogic
						feature:{type:'select',parameters:{selection:['WHEN']}}
					}
				]  
				// refactor the next few lines into a single call - jsPassToEditorControl(js,features=None)
				tr=new jsNode('root',{})
				js2Tree(tr,js)
				if (features) {
					jsFeatureInstall(tr,features,[])
				}
				tr.setVisibility(false,true)
				treeWalker(tr,buildForm,"0","normal")
			})
